.inline{
    display: inline-block;
    margin-inline-end:10px;
}
.containerHeader {
    width: auto;
    display: flex;
    border-bottom: solid 1px rgb(204, 201, 201);
    height: 50px;
  }
.containerHeader div{
    padding: 8px;
      width: 25%;
      overflow: auto;
      border:solid 0.25px rgb(204, 201, 201);
  }
.container {
    width: auto;
    display: flex;
    height: 50px;
  }
  .container div{
      padding: 8px;
      width: 25%;
      overflow: auto;
      border:solid 0.25px rgb(204, 201, 201);
  }
.divBorder{
    width: 80%;
    border:solid 0.5px rgb(204, 201, 201);

}

.divStyle-img{
    vertical-align: -webkit-baseline-middle;
    width: 30px;
    height: 30px;
}
.a-style{
    color: black;
    text-decoration: none;
    margin-inline-end: 5px;
 }
.a-style:hover{
    color: rgb(86, 87, 88)
}


