ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

button {
    float: right;
    margin-inline-end: 2%;
    margin: 1%;
    width: 100px;
    height: 30px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

button a {
    padding: 8px;
    color: black;
    text-decoration: none;
}
button a:hover {
    color: blue;
}

button a:active {
    color: red;
}

nav{
    width:100%;
    background-color: #8e8e91;
    border-bottom: 5em black;
}

h2{
    float: left;
    margin-left: 2%;
    vertical-align: middle;
}

h2 a {
    padding: 8px;
    color: black;
    text-decoration: none;
}

img{
    inline-size: 15%;
    vertical-align: middle;
}