.Row{
    margin-top: 20px;
  }
  .div{
    padding: 20px;
    width: 100%;
    margin-top: 50px;
    border: 1px solid #7875;
    border-radius: 4px;
  }
  p{
    color: red;
  }
  .row{
    margin-left: 0px !important
  }