.a{
    text-decoration: none;
    color: rgba(49, 51, 49, 0.533);
    margin-inline-end: 5px;
}

.active{
    color:black;
}
ul{
    padding-inline-start: 0px;
}
.a:hover:not(.active){
    color: black;   
}