.a{
    text-decoration: none;
    color: rgba(49, 51, 49, 0.533);
    margin-inline-end: 5px;
}
.a:hover{
    color: rgb(86, 87, 88)
}
ul{
    padding-inline-start: 0px;
}

ul{
    list-style-type: none;
}
.a:focus{
    color: black;
}
