.buttonStyle{
    width: 30px;
    height: 30px;
    background-color: rgb(247, 249, 252);
    border-radius: 4px;
    color:black;
    margin-inline-end: 2px;
    margin-top: 4px;
    box-shadow: none;
    border-style: none;
}

.buttonStyle :hover{
    background-color:rgb(146, 151, 146);
}
.active{
    width: 30px;
    height: 30px;
    background-color: rgb(101, 101, 104);
    border-radius: 4px;
    color:black;
    margin-inline-end: 2px;
    margin-top: 4px;
    box-shadow: none;
    border-style: none;
}
a{
    text-decoration: none;
}