.html{
    background-image: url('../../images/html.jpeg');
    background-size:100% 100%;
}

.css{
    background-image: url('../../images/css.png');
    background-size:100% 100%;
    
}

.java{
    background-image: url('../../images/java.png');
    background-size:100% 100%;
}
.bg{
    background-image: url('../../images/bg.jpeg');
    background-size:100% 100%;
}
